body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}
hr {
    position: relative;
    top: 50px;
    color: #d3e0ea;
    border: none;
    border-top: 5px dotted;
    width: 5%;
}
.tr {
    position: absolute;
    right: 2%;
    top: 2%;
}
h1 {
    color: #66BFBF;
    font-size: 5.65rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
}

h2 {
    color: #75cfb8;
    font-size: 3rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    font-size: 1.5rem;
}

.top-container {
    background-color: #d3e0ea;
    position: relative;
    padding-top: 150px;

}
.middle-container {
    background-color: #1687a7;
    position: relative;
    padding-top: 100px;
    padding-bottom : 100px;
}
.bottom-container {
    background-color: #276678;
    position: relative;
    padding-top: 100px;
    padding-bottom : 100px;
}
.get-in {
    background-color: #a4ebf3;
    position: relative;
    padding-top: 100px;
    padding-bottom : 100px;
}
.hobbies {
    background-color: #1687a7;
    position: relative;
    padding-top: 100px;
    padding-bottom : 100px;
}
.top-cloud {
    position: absolute;
    right: 30%;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    top: 300px;
}
.me {
    position: relative;
    bottom: 50px;
    width: 10%;
    height: auto;
}
.monitor {
    width: 25%;
    height: auto;

}
table {
    margin-left: auto;
    margin-right: auto;
}
.in {
    color: #0a043c;
    font-size: 2.5rem;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
a {
    color: #11999E;
    margin: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
a:hover {
    color: #FFFFFF
}
.guitar {
    width: 30%;
    height: auto;
}
.dentist {
    width: 25%;
    height: auto;
}
.BUTTON_PJC {
   background: #3D94F6;
   background-image: -webkit-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -moz-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -ms-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -o-linear-gradient(top, #3D94F6, #1E62D0);
   background-image: -webkit-gradient(to bottom, #3D94F6, #1E62D0);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: Arial;
   font-size: 20px;
   font-weight: 100;
   padding: 15px;
   -webkit-box-shadow: 1px 1px 20px 0 #000000;
   -moz-box-shadow: 1px 1px 20px 0 #000000;
   box-shadow: 1px 1px 20px 0 #000000;
   text-shadow: 1px 1px 20px #000000;
   border: solid #337FED 1px;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON_PJC:hover {
   border: solid #337FED 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -moz-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -ms-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -o-linear-gradient(top, #1E62D0, #3D94F6);
   background-image: -webkit-gradient(to bottom, #1E62D0, #3D94F6);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}
.last {
    background-color: #d3e0ea;
    position: relative;
    padding-top: 100px;
    padding-bottom : 100px;
}
.mountain {
    width: 35%;
    margin: auto;
}